<div style="display: block; width: 95%" *ngIf="!chartData.length">
  <h4>Please wait for data to load or retry getting data</h4>
</div>
<div style="display: block; width: 80%" *ngIf="chartData.length > 0">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>

