.text-muted {
  color: #919aa3;
  margin-left: 1em;
  margin-top: .5em;
  line-height: initial;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
  width: 100%;
}

li {
  display: inline-block;
  padding: 1em;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

mat-spinner {
  margin: auto;
}

mat-form-field {
  margin-left: 1em;
  float: left;
}

ngx-material-timepicker-toggle {
  float: right;
  margin-top: -30px;
}

