<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header >
      <h2 style="color: #4099ff;">Mobility Service Dashboard</h2>
      <span class="text-muted">by Boulder AI</span>
    </mat-expansion-panel-header>

      <h4 *ngIf="isDisabled && !isLoading">Click 'Get Data' button to load Chart Data</h4>
      <h4 *ngIf="!isDisabled">Select preferred sensors and chart</h4>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
      <form [formGroup]="dashboardForm" (ngSubmit)="onGetData()" *ngIf="!isLoading">
        <mat-card formGroupName="dateTimeRange">
          <ul>
            <li>
              <mat-form-field appearance="fill">
                <mat-label>Start date and time</mat-label>
                <input matInput [ngxMatDatetimePicker]="startDateTime"
                       placeholder="Choose a date" formControlName="dateTimeStart">
                <mat-datepicker-toggle matSuffix [for]="startDateTime"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #startDateTime></ngx-mat-datetime-picker>
              </mat-form-field>
            </li>
            <li>
              <mat-form-field appearance="fill">
                <mat-label>End date and time</mat-label>
                <input matInput [ngxMatDatetimePicker]="endDateTime"
                       placeholder="Choose a date" formControlName="dateTimeEnd">
                <mat-datepicker-toggle matSuffix [for]="endDateTime"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #endDateTime></ngx-mat-datetime-picker>
              </mat-form-field>
            </li>
          </ul>


        </mat-card>

        <mat-card>
          <ul>
            <li>
              <mat-form-field appearance="fill">
                <mat-label>Select Device</mat-label>
                <mat-select formControlName="deviceEntry" *ngIf="deviceEntries?.length > 0">
                  <mat-option *ngFor="let device of deviceEntries" [value]="device">
                    {{device}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Aggregation Period</mat-label>
                <mat-select formControlName="aggregation">
                  <mat-option *ngFor="let aggPeriod of aggPeriods" [value]="aggPeriod.value">
                    {{aggPeriod.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </li>
          </ul>

          <div style="margin-left: 4em;">
            <button mat-raised-button color="primary" type="submit">Get Data</button>
          </div>

        </mat-card>
      </form>

      <form [formGroup]="filterForm" *ngIf="sensors.length > 0">
        <mat-card>
          <ul>
            <li>
              <h4>Sensors or Type</h4>
              <mat-radio-group
                (change)="changeSensorType()"
                               formControlName="sensorsOrType"
                               aria-label="Sensors or Type">
                <p><mat-radio-button value="count">Count</mat-radio-button></p>
                <p><mat-radio-button value="speed">Speed</mat-radio-button></p>
                <p><mat-radio-button value="presence">Presence</mat-radio-button></p>
              </mat-radio-group>
            </li>

            <li>
              <mat-form-field appearance="fill">
                <mat-label>Select Sensor</mat-label>
                <mat-select formControlName="sensorItems" multiple (selectionChange)="onGetFilteredData()">
                  <mat-option *ngFor="let sensorItem of sensorList" [value]="sensorItem">{{sensorItem}}</mat-option>
                </mat-select>
              </mat-form-field>
            </li>
          </ul>
        </mat-card>
      </form>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="sensors.length > 0">
    <mat-expansion-panel-header >
      <h4>Counts per Sensor</h4>
    </mat-expansion-panel-header>

    <mat-card>
      <p>Counts per sensor across time</p>
      <div class="spacer" *ngIf="!isLoading">
        <mat-form-field appearance="outline">
          <mat-label>Select Desired Chart View</mat-label>
          <mat-select [disabled]="isDisabled">
            <mat-option *ngFor="let chartType of chartTypes" routerLink="/sensors/{{chartType.link}}">
              {{chartType.name}} Chart
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <router-outlet></router-outlet>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="sensors.length > 0">
    <mat-expansion-panel-header >
      <h4>Sensors Report</h4>
    </mat-expansion-panel-header>

      <div class="spacer" *ngIf="!isLoading">
          <p>Sensors report group by time interval</p>
        <app-table-report></app-table-report>
      </div>

  </mat-expansion-panel>
</mat-accordion>


