<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="time_period">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Period </th>
    <td mat-cell *matCellDef="let sensor"> {{sensor?.time_period}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="car_north_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Count Car North </th>
    <td mat-cell *matCellDef="let sensor"> {{sensor.car_north_count}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="car_south_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Count Car South </th>
    <td mat-cell *matCellDef="let sensor"> {{sensor.car_south_count}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="person_north_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Count Person North </th>
    <td mat-cell *matCellDef="let sensor"> {{sensor.person_north_count}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="person_south_count">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Count Person South </th>
    <td mat-cell *matCellDef="let sensor"> {{sensor.person_south_count}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
