<div style="display: block; width: 95%" *ngIf="!chartData.length">
  <h4>Please wait for data to load or retry getting data</h4>
</div>
<div style="display: block; width: 80%" *ngIf="chartData.length > 0">
  <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
